<!DOCTYPE html>
<html>
<head>
  <title>Layouts &raquo; Hero-Thirds</title>
  <link rel="stylesheet" href="./static/lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/lib/css/dc.css">
  <link rel="stylesheet" href="./static/lib/css/misc.css">
</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Dashboard</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
            <div class="btn-nav"><a class="btn btn-primary btn-small navbar-btn" id="resetAll"> Reset all filters </a>
            </div>
        </li>
    </ul>
      
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-6">
        <div class="col-sm-12">
          <div class="chart-wrapper">
            <div class="chart-title">
              Most participated in sports
            </div>
            <div class="chart-stage">
              <div id="sport-chart"></div>
            </div>
            <div class="chart-notes">
              Notes about this chart
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Amount of participations per year
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
              <div class="chart-notes">
                Notes about this chart
              </div>
            </div>
          </div>  

            <div class="col-sm-12">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Participations per height
                </div>
                <div class="chart-stage">
                  <div id="height-chart"></div>
                </div>
                <div class="chart-notes">
                  Notes about this chart
                </div>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Participations per weight
                </div>
                <div class="chart-stage">
                  <div id="weight-chart"></div>
                </div>
                <div class="chart-notes">
                  Notes about this chart
                </div>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Participations per age
                </div>
                <div class="chart-stage">
                  <div id="age-chart"></div>
                </div>
                <div class="chart-notes">
                  Notes about this chart
                </div>
              </div>
            </div>
          
        </div>
      </div>

      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Participations per country
          </div>
          <div class="chart-stage">
            <div id="map"></div>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>


      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Participations per season
          </div>
          <div class="chart-stage">
            <div id="season-chart"></div>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>


      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Amount of participations per gender
          </div>
          <div class="chart-stage">
            <div id="sex-chart"></div>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Amount of medals won
          </div>
          <div class="chart-stage">
            <div id="medal-chart"></div>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>

    </div>

  </div>

    <hr>
    <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>

  </div>

  <script src="./static/lib/js/jquery.min.js"></script>
  <script src="./static/lib/js/bootstrap.min.js"></script>
  <script src="./static/lib/js/holder.js"></script>
  <script src="./static/lib/js/d3.js"></script>
  <script src="./static/lib/js/crossfilter.js"></script>
  <script src="./static/lib/js/dc.js"></script>
  <script src="./static/lib/js/queue.js"></script>

  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>

  <script src="./static/lib/js/keen.min.js"></script>
  <script src="./static/lib/js/meta.js"></script>

  <script src='./static/lib/js/charts.js' type='text/javascript'></script>


</body>
</html>
